# Binaries
pasigo
planesgo
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Local config containing secrets
config.yml

# OS generated
.DS_Store
.idea/
.vscode/
